<div>
  <div>
	  <div>
		  <table>
			  <thead>
				  <tr>
					  <tr>タイトル</tr>
					</tr>
				</thead>
				</tbody>
				<% @artists.each do |artist| %>
					  <tr>
						  <td><%= artist %></td>
						</tr>
					<% end %>
					<thr><td colspan="6"><a href="search/new">アーティスト検索</a></td></thr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>