<div>
  <form action="tasks" method="post">
   <div>
    <div>
      <input type="text" name="title" placeholder="タイトル"><br>
    </div>
    <div>
      <input type="submit" value="登録">
    </div>
   </div>
  </form>
</div>