<header class="header">
<div>
  <form action="/search" method="post">
  <div>
    <div>
      <input type="text" name="artist" placeholder="アーティスト名入力"><br>
    </div>
    <div>
      <input type="submit" value="検索">
    </div>
   </div>
  </form>
</div>
</header>